.navbar-toggle .icon-bar {
    background-color: #333;
}

.navbar-nav > li > a {
    color: #333;
    font-size: 16px;
}

.navbar-nav > li > a:hover {
    color: #28a745;
    background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: transparent;
    color: #28a745
}

.navbar-nav>li>a {
    padding: 20px 25px !important; 
    line-height: 20px;
}

.dropdown-menu {
    left: 50% !important;
    right: 0;
    transform: translate(-50%);
    text-align: center
}
.dropdown-menu a {
    font-size: 16px;
}

.dropdown-menu::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #fff transparent;
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -3px;
    z-index: 2
}
.dropdown-menu::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #dddddd transparent;
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
}
.navbar {
    margin-bottom: 0px;
}

.logo {
    width: 300px;
    display :inline-block;
}
.logo img{
    height: 60px
}

.banner {
    width: 100%;
    height: 440px;
    overflow:hidden; 
    position: relative;
    background: #101334
}

.carousel {
    width: 100%;
    height: 440px;
}

.carousel .item img {
    height: 440px;
    margin: 0 auto;
}

.carousel .item  {
    position: relative;
    text-align: center
}

.banner .center {
    /* width: 1200px; */
    height: 440px;
    margin: 0 auto;
    position: relative
}

.banner .message {
   position: absolute;
   margin-top:150px;
   font-size: 24px;
   color:#fff;
   margin-right: 100px;
   right: 200px;
   top :0;
   z-index: 10
}

.banner .message p { 
    margin-bottom: 20px;
    text-align:center;
}

.banner .btn {
    border: 1px solid #28a745;
    background-color: #28a745;
    color:#fff;
    width: 150px;
    height: 40px;
    line-height: 28px;
    margin-bottom: 20px;
}

.banner .btn-outline {
    border: 1px solid #fff;
    background-color: transparent;
    color:#fff;
    width: 150px;
    height: 40px;
    line-height: 28px;
}

.banner .btn-outline:hover {
    background: #fff;
    color: #333
}

.banner .btn {
    margin-left: 20px;
}


#siric {
   position: absolute;
   top:180px;
   left:0;
}

.common-title {
    width: 100%;
    height: 80px;
    overflow: hidden;
}

.common-title h3 {
    text-align: center;
    font-size: 36px;
    overflow: hidden;
}

.product-item .title {
    font-size: 24px;
    padding: 10px 0
}
.product-item {
    text-align: center;
    padding: 80px 50px;
}

.product-item .desc {
    text-align: left
}
.product .row {
    margin: 0 15%;
    
}
.product-box {
    background: #f6f7fc;
    overflow: hidden
}

.product .title {
    padding-top: 40px;
    text-align: center;
    font-size: 28px;
    color: #333
}
.product .sub-title {
    text-align: center;
    color: #999
}

.carousel-indicators li {
    width: 60px;
    height: 5px;
    border-radius: 0;
    opacity: 0.2;
    /* border: none; */
}

.carousel-indicators .active {
    width: 60px;
    height: 5px;
    border-radius: 0;
    margin: 1px;
    opacity: 0.2;
    position: relative;
}

.carousel-indicators .active span{
   display: block;
   height: 3px;
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   background-color: gray;
   -webkit-animation: progressRun 6s linear forwards;
   animation: progressRun 6s linear forwards;
}

.company {
    background: #222
}

.company img {
    width: 100%
}

@-webkit-keyframes progressRun {
    0% {
        width: 0
    }

    to {
        width: 58px
    }
}

@keyframes progressRun {
    0% {
        width: 0
    }

    to {
        width: 58px
    }
}


footer {
    text-align: center;
    padding: 20px 0
}