@charset "UTF-8";
body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: auto;
  text-size-adjust: auto; }

body, div, p, ul, li, span, section, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

a {
  color: #77b863;
  text-decoration: none; }
  a:hover, a:focus {
    color: #92c682; }
  a:active {
    color: #70ab5e; }

h1, h2, h3, h4, h5, h6 {
  color: #606266;
  font-weight: inherit; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

h4, h5, h6, p {
  font-size: inherit; }

p {
  line-height: 1.8; }

sup, sub {
  font-size: 13px; }

small {
  font-size: 12px; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

.header-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.header-login {
  float: left;
  margin-left: 200px; }
  .header-login__button--hollow {
    color: #fff;
    background: transparent;
    margin-right: 20px;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid #fff;
    padding: 5px 30px;
    display: inline-block;
    margin-top: 10px; }
    .header-login__button--hollow:hover {
      color: #5c984a;
      background: #fff; }
  .header-login__button {
    color: #5c984a;
    background: #fff;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid #fff;
    padding: 5px 30px;
    display: inline-block;
    margin-top: 10px; }
    .header-login__button:hover {
      color: #fff;
      background: #5c984a;
      border: 1px solid #5c984a; }

.header__logo {
  width: 100px;
  float: left; }

.header__nav {
  color: #fff;
  margin-left: 400px; }
  .header__nav-item {
    float: left;
    height: 60px;
    line-height: 60px;
    padding: 0 25px;
    position: relative; }
    .header__nav-item > a {
      color: #fff;
      font-size: 16px;
      display: inline-block;
      height: 60px; }
      .header__nav-item > a:hover {
        color: #5c984a; }

.header__drop-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: -20px;
  width: 150px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #d1d1d1;
  border-top: 2px solid #5c984a;
  z-index: 111; }
  .header__drop-menu > li {
    display: block;
    float: none;
    line-height: 40px;
    padding: 0;
    text-align: center; }

.header__drop-menu-item {
  color: #4da998;
  display: block; }
  .header__drop-menu-item:hover {
    background: #f1f1f1; }

.header-container--white {
  border-bottom: 1px solid #d1d1d1; }

.header__nav--white a {
  color: #333; }

.login__button--hollow {
  border: 1px solid #77b863;
  font-size: 16px;
  border-radius: 2px;
  padding: 5px 30px;
  display: inline-block;
  margin-top: 15px;
  color: #77b863; }

.swiper-container {
  width: 100%;
  height: 594px;
  position: relative;
  overflow: hidden;
  background: #0da798; }

.swiper__item {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1920px 594px;
  display: block;
  width: 100%;
  height: 100%;
  float: left;
  position: relative; }

.swiper__indicators {
  position: absolute;
  width: 220px;
  bottom: 30px;
  left: 50%;
  margin-left: -110px; }
  .swiper__indicators-item {
    width: 60px;
    height: 3px;
    border-radius: 0;
    opacity: 0.5;
    background: #ccc;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer; }

.swiper__indicators-item--active {
  width: 60px;
  height: 3px;
  border-radius: 0;
  opacity: 0.5;
  position: relative; }
  .swiper__indicators-item--active span {
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    background-color: #fff;
    -webkit-animation: progressRun 6s linear forwards;
    animation: progressRun 6s linear forwards; }

#swipe {
  position: relative;
  overflow: hidden;
  min-width: 1200px; }

#swiper-1 {
  background-image: url("../images/banner-1.png"); }

#swiper-2 {
  background-image: url("../images/banner-2.png"); }

#swiper-3 {
  background-image: url("../images/banner-3.jpg"); }

@-webkit-keyframes progressRun {
  0% {
    width: 0; }
  to {
    width: 58px; } }

@keyframes progressRun {
  0% {
    width: 0; }
  to {
    width: 58px; } }

.product-container {
  width: 1200px;
  margin: 40px auto; }

.product__title {
  font-size: 28px;
  color: #333;
  text-align: center;
  line-height: 1.5; }

.product__sub-title {
  font-size: 16px;
  color: #999;
  text-align: center; }

.product__item {
  float: left;
  width: 33.33%;
  text-align: center;
  margin-top: 40px; }
  .product__item-title {
    color: #333;
    font-size: 18px;
    padding-top: 10px; }
  .product__item-descrption {
    text-align: center;
    padding: 10px 50px;
    color: #666; }

.advantage-container {
  background: url("../images/bg.png") center center no-repeat;
  background-color: #0da799;
  width: 100%;
  min-width: 1200px;
  height: 687px;
  position: relative;
  overflow: hidden; }

.advantage__title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-top: 40px; }
  .advantage__title::after {
    content: '';
    width: 100px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: -50px; }

.advantage__layer {
  width: 890px;
  height: 200px;
  position: absolute;
  background: url("../images/line.png") no-repeat;
  top: 350px;
  left: 50%;
  margin-left: -445px; }

.round__item {
  position: absolute; }

#round-item-1 {
  background: url("../images/round-1.png") center center no-repeat;
  width: 992px;
  height: 175px;
  margin: 0 auto;
  top: 200px;
  left: 100px; }

#round-item-3 {
  background: url("../images/round-2.png") center center no-repeat;
  width: 1105px;
  height: 200px;
  margin: 0 auto;
  top: 400px;
  left: 60px; }

#round-item-2 {
  background: url("../images/round-3.png") center center no-repeat;
  width: 1056px;
  height: 175px;
  margin: 0 auto;
  top: 300px;
  left: 80px; }

#advantage-ponit-1 {
  position: absolute;
  background: url("../images/point-1.png") no-repeat;
  width: 600px;
  height: 160px;
  top: 500px;
  left: 380px; }

#advantage-ponit-2 {
  position: absolute;
  background: url("../images/point-2.png") no-repeat;
  width: 600px;
  height: 160px;
  top: 80px;
  left: 720px; }

#advantage-ponit-3 {
  position: absolute;
  background: url("../images/point-3.png") no-repeat;
  width: 600px;
  height: 150px;
  top: 130px;
  left: 0px; }

.case__title {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin: 30px auto;
  position: relative; }
  .case__title::after {
    content: '';
    width: 80px;
    height: 3px;
    background: #55af93;
    background: linear-gradient(to right, #55af93, #84cc86);
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 40px; }

.case__title--white {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin: 30px auto;
  position: relative; }

.case__swiper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 570px;
  overflow: hidden; }
  .case__swiper-item {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
    vertical-align: middle; }
  .case__swiper-index-box {
    width: 1200px;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    margin: 0 auto; }
  .case__swiper-index {
    float: left;
    text-align: center;
    width: 400px;
    font-size: 18px;
    color: #333;
    height: 74px; }
    .case__swiper-index a:hover {
      color: #77b863; }
    .case__swiper-index--white {
      color: #fff; }
  .case__swiper-index--active {
    color: #77b863 !important; }
    .case__swiper-index--active a:hover {
      color: #77b863; }
    .case__swiper-index--active.border {
      border-bottom: 6px solid #77b863; }

#case-swiper-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 550px;
  overflow: hidden;
  min-width: 1200px; }

.case-container--black {
  background: #333;
  overflow: hidden;
  min-width: 1200px; }

.guide {
  width: 100%;
  background: url("../images/guide.jpeg") no-repeat;
  height: 497px;
  background-position: left 30px; }
  .guide__title {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin: 30px auto;
    position: relative; }
    .guide__title::after {
      content: '';
      width: 80px;
      height: 3px;
      background: #55af93;
      background: linear-gradient(to right, #55af93, #84cc86);
      position: absolute;
      left: 50%;
      margin-left: -40px;
      top: 40px; }
  .guide__content {
    text-align: center;
    position: relative;
    width: 1200px;
    height: 444px;
    margin: 0 auto;
    background: url("../images/guide-center.png") no-repeat; }
    .guide__content img {
      width: 100%;
      min-width: 1200px; }
  .guide__btn {
    position: absolute;
    bottom: 50px;
    width: 120px;
    box-sizing: border-box;
    left: 50%;
    margin-left: -60px; }
    .guide__btn:hover {
      color: #fff; }

.site-map {
  background: #353736;
  height: 260px;
  min-width: 1200px; }
  .site-map__content {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 60px 100px;
    overflow: hidden; }
    .site-map__content--left {
      float: left;
      width: 100px;
      padding-left: 160px; }
    .site-map__content--center {
      float: left;
      width: 100px;
      padding-left: 60px; }
    .site-map__content--right {
      float: left;
      width: 160px;
      padding-left: 370px;
      overflow: hidden; }
    .site-map__content h3 {
      color: #fff; }
    .site-map__content ul, .site-map__content li {
      padding: 10px 0;
      color: #a2a1a0; }

.site-map {
  background: #353736;
  height: 260px;
  min-width: 1200px; }
  .site-map__content {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 60px 35px;
    overflow: hidden; }
    .site-map__content--left {
      float: left;
      width: 100px;
      padding-left: 0px; }
    .site-map__content--center {
      float: left;
      width: 100px;
      padding-left: 60px; }
    .site-map__content--right {
      float: left;
      width: 160px;
      padding-left: 670px;
      overflow: hidden; }
    .site-map__content h3 {
      color: #fff; }
    .site-map__content ul, .site-map__content li {
      padding: 10px 0;
      color: #a2a1a0; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.btn--primary {
  color: #fff;
  background: #77b863;
  padding: 8px 40px;
  font-size: 16px;
  border-radius: 5px; }

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative; }

footer {
  min-width: 1200px;
  text-align: center;
  background: #353736;
  color: #a2a1a0;
  height: 100px;
  line-height: 100px;
  border-top: 2px solid #585857; }

a {
  color: inherit; }

.white {
  color: #fff; }

.section__title {
  font-size: 28px;
  color: #333;
  text-align: center;
  padding: 30px 0;
  position: relative; }
  .section__title::after {
    content: '';
    width: 80px;
    height: 2px;
    background: #55af93;
    background: linear-gradient(to right, #55af93, #84cc86);
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 70px; }

.product-box {
  background: #f7fbfe;
  overflow: hidden;
  position: relative; }

.product__center {
  position: relative;
  top: -100px; }
  .product__center span {
    padding-right: 6px;
    color: #77b863; }

.product-point--left {
  position: absolute;
  left: 200px;
  top: 430px; }

.product-point--right {
  position: absolute;
  left: 620px;
  top: 190px; }

.product-info--right {
  position: absolute;
  left: 300px;
  top: -10px;
  width: 200px; }

.product-info--left {
  position: absolute;
  left: -120px;
  top: -10px;
  width: 200px; }

.message-banner {
  min-width: 1200px;
  text-align: center;
  height: 594px;
  background: #0da798;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1920px 594px;
  background-image: url("../images/banner-3.jpg"); }

.voice-banner {
  min-width: 1200px;
  text-align: center;
  height: 594px;
  background: #0da798;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1920px 594px;
  background-image: url("../images/banner-1.png"); }

.video-banner {
  min-width: 1200px;
  text-align: center;
  height: 594px;
  background: #0da798;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1920px 594px;
  background-image: url("../images/banner-2.png"); }

.product-function-box {
  background: #f7fbfe;
  overflow: hidden;
  padding: 20px 0 60px 0; }

.product-function {
  width: 1200px;
  margin: 0 auto;
  position: relative; }
  .product-function li {
    float: left;
    width: 570px;
    height: 200px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    margin: 20px 15px;
    padding: 45px 40px;
    box-sizing: border-box;
    background: #fff; }
    .product-function li img {
      float: left;
      margin-right: 20px; }
    .product-function li h4 {
      font-size: 20px;
      color: #333;
      padding-top: 10px; }
    .product-function li p {
      color: #999; }

.product-advantage {
  width: 1200px;
  margin: 40px auto;
  overflow: hidde; }
  .product-advantage ul {
    overflow: hidden;
    padding-top: 50px; }
    .product-advantage ul li {
      height: 360px;
      overflow: hidden; }
  .product-advantage__item--right {
    display: inline-block;
    width: 400px;
    vertical-align: 40px;
    text-align: left; }
    .product-advantage__item--right img {
      position: relative;
      left: -100px; }
  .product-advantage__item--left {
    display: inline-block;
    width: 750px;
    height: 300px;
    padding-left: 100px;
    box-sizing: border-box;
    vertical-align: 40px; }
  .product-advantage h4 {
    color: #333;
    font-size: 24px;
    padding-bottom: 20px;
    position: relative; }
    .product-advantage h4::before {
      content: "";
      width: 40px;
      height: 5px;
      background: #77b863;
      position: absolute;
      top: -20px; }
  .product-advantage span {
    color: #666;
    display: block;
    position: relative;
    height: 24px; }
    .product-advantage span::before {
      content: "";
      width: 4px;
      height: 4px;
      border: 2px solid #77b863;
      border-radius: 50%;
      display: inline-block;
      margin-right: 6px; }
  .product-advantage img {
    vertical-align: middle; }

.video-function {
  width: 1200px;
  margin: 0 auto;
  height: 360px;
  padding: 40px 0 100px 0; }
  .video-function li {
    float: left;
    width: 360px;
    margin: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px 30px;
    box-sizing: border-box; }
    .video-function li h4 {
      font-size: 20px;
      color: #333;
      padding-top: 5px; }
    .video-function li p {
      color: #999;
      padding-top: 10px; }
  .video-function-box {
    background: #f7fbfe; }

.download {
  margin: 100px auto;
  overflow: hidden; }

.tab {
  width: 1200px;
  margin: 0 auto;
  text-align: center; }
  .tab__index {
    height: 80px; }
    .tab__index a {
      color: #77b863;
      background: #fff;
      padding: 10px 40px;
      border: 1px solid #d1d1d1;
      font-size: 18px; }
      .tab__index a:last-child {
        position: relative;
        left: -4px; }
      .tab__index a.active {
        background: #77b863;
        color: #fff;
        border: 1px solid #77b863; }
  .tab__content {
    min-height: 600px;
    display: none; }
    .tab__content.active {
      display: block; }

.empty-message {
  font-size: 18px;
  text-align: center;
  padding: 2px 0; }

.sdk__item {
  width: 360px;
  height: 300px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  float: left;
  margin: 0px 20px 40px 20px; }
  .sdk__item-head {
    padding: 20px 0; }
    .sdk__item-head span {
      font-size: 24px;
      display: inline-block;
      padding-left: 10px;
      vertical-align: 5px; }
  .sdk__item-content {
    height: 180px;
    width: 240px;
    margin: 0 auto; }
    .sdk__item-content p {
      text-align: left; }
    .sdk__item-content a {
      width: 200px;
      height: 40px;
      line-height: 40px;
      display: block;
      margin: 40px auto;
      background: #77b863;
      color: #fff;
      border-radius: 2px;
      font-size: 16px; }
      .sdk__item-content a:hover {
        background: #68b051; }
  .sdk__item-footer {
    color: #666;
    background: #f7fbfe;
    height: 50px;
    line-height: 50px; }
    .sdk__item-footer a {
      padding: 0 3px; }

.product-price {
  width: 1200px;
  margin: 100px auto;
  overflow: hidden; }
  .product-price__item {
    float: left;
    margin: 40px 28px;
    height: 300px;
    width: 540px;
    border: 1px solid #d1d1d1; }
    .product-price__item-head {
      height: 100px;
      background: #82c87a; }
      .product-price__item-head h3 {
        text-align: center;
        color: #fff;
        font-size: 24px;
        line-height: 100px; }
    .product-price__item-content {
      padding: 20px 30px;
      font-size: 16px; }
