.header {
    &-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1
    }
    &-login {
        float: left;
        margin-left: 200px;

        &__button--hollow {
            color: #fff;
            background: transparent;
            margin-right: 20px;
            font-size: 16px;
            border-radius: 2px;
            border: 1px solid #fff;
            padding: 5px 30px;
            display: inline-block;
            margin-top: 10px;
            &:hover {
                color: #5c984a;
                background: #fff;
            }
        }
        &__button {
            color: #5c984a;
            background: #fff;
            font-size: 16px;
            border-radius: 2px;
            border: 1px solid #fff;
            padding: 5px 30px;
            display: inline-block;
            margin-top: 10px;
            &:hover {
                color: #fff;
                background: #5c984a;
                border: 1px solid #5c984a;
            }
        }

    }
    &__logo {
        width: 100px;
        float: left;
    }
    &__nav {
        color: #fff;
        margin-left: 400px;
        &-item {
            float: left;
            height: 60px;
            line-height: 60px;
            padding: 0 25px;
            position: relative;

            > a {
                color: #fff;
                font-size: 16px;
                display: inline-block;
                height: 60px;
                &:hover {
                    color: #5c984a
                }
            } 
        }
    }
    &__drop-menu {
        display: none;
        position: absolute;
        top:60px;
        left: -20px;
        width: 150px;
        background: #fff;
        border-radius: 2px;
        border-top:2px solid #5c984a;
        z-index: 111;

        > li {
            display: block;
            float: none;
            line-height: 40px;
            padding: 0;
            text-align: center; 
        }
    }
    &__drop-menu-item {
        color: #4da998;
        display: block;

        &:hover {
            background: #f1f1f1
        }
    }
    
}

.header {
    &-container--white {
       border-bottom: 1px solid #d1d1d1;

       .login__button--hollow {
            margin-right: 10px;
        }
    }
    &__nav--white a {
        color: #333; 
    }
}

.login__button--hollow {
    border: 1px solid #77b863;
    font-size: 16px;
    border-radius: 2px;
    padding: 5px 30px;
    display: inline-block;
    margin-top: 15px;
    color: #77b863;
}
